---
layout: page
title: StuffsCode - Boas Práticas de Projeto e Desenvolvimento
description: "Página Principal"
image:
  feature: Sticky_example.png
share: true
comments: false
modified: 2017-03-04T15:14:43-04:00
---
<style>
  </style>


<div class="container">
  
{% for post in paginator.posts %}
  <div class="columns spacing">
    
    <div class="column half">
      <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
         <img src="{{ site.url }}/images/{{ post.image.feature }}" width="430" alt="{{ post.title }}">
      </a>
    </div>
    
    <div class="column half">
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
      <p>{{ post.description }}</p>
    </div>
    
  </div>
{% endfor %}
  

</div>

{% for post in paginator.posts %}
<!--article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div>
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span>
      {% endif %}
    </div>
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div>
</article-->
{% endfor %}

{% include pagination.html %}


