---
layout: page
title: StuffsCode - Boas Práticas de Projeto e Desenvolvimento
description: "Página Principal"
image:
  feature: Sticky_example.png
share: true
comments: false
modified: 2017-03-04T15:14:43-04:00
---
<style>
  </style>
<div class="content">
      <section class="hero">
        <div class="small-container">
          <h2>Fresh, homemade baked goods</h2>
          <p class="sub-text">Bakery<strong>Store</strong> serves the freshest baked goods in San Francisco.</p>
        </div>
      </section>
      <div class="container">
        <p class="post-hero center-text spacing">Bakery<strong>Store</strong> is known for our fresh bread, delicious cupcakes and chocolatey cookies.</p>
      </div>
      <div class="container">
        <div class="columns spacing">
          <div class="column half">
            <img src="/images/bread.jpg" width="430" alt="Bread">
          </div>
          <div class="column half">
            <h3>Fresh Bread</h3>
            <p>Our bread is baked fresh every morning.</p>
          </div>
        </div>
        <div class="columns spacing">
          <div class="column half">
            <h3>Delicious Cupcakes</h3>
            <p>The best cupcakes in San Francisco.</p>
          </div>
          <div class="column half">
            <img src="/images/cupcake.jpg" width="430" alt="cupcake">
          </div>
        </div>
        <div class="columns spacing">
          <div class="column half">
            <img src="/images/cookie.jpg" width="430" alt="cookie">
          </div>
          <div class="column half">
            <h3>Chocolatey cookies</h3>
            <p>Served with a glass of milk.</p>
          </div>
        </div>
      </div>
</div>


<section class="hero">
  <div class="small-container">
    <h2>Fresh, homemade baked goods</h2>
    <p class="sub-text">Bakery<strong>Store</strong> serves the freshest baked goods in San Francisco.</p>
  </div>
</section>
<div class="container">
  <p class="post-hero center-text spacing">Bakery<strong>Store</strong> is known for our fresh bread, delicious cupcakes and chocolatey cookies.</p>
</div>
<div class="container">
  <div class="columns spacing">
    <div class="column half">
      <img src="/images/bread.jpg" width="430" alt="Bread">
    </div>
    <div class="column half">
      <h3>Fresh Bread</h3>
      <p>Our bread is baked fresh every morning.</p>
    </div>
  </div>
  <div class="columns spacing">
    <div class="column half">
      <h3>Delicious Cupcakes</h3>
      <p>The best cupcakes in San Francisco.</p>
    </div>
    <div class="column half">
      <img src="/images/cupcake.jpg" width="430" alt="cupcake">
    </div>
  </div>
  <div class="columns spacing">
    <div class="column half">
      <img src="/images/cookie.jpg" width="430" alt="cookie">
    </div>
    <div class="column half">
      <h3>Chocolatey cookies</h3>
      <p>Served with a glass of milk.</p>
    </div>
  </div>
</div>

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}


