/* ==========================================================================
   Base Elements and Components
   ========================================================================== */

hr { 
    display: block; 
    margin: 1em 0; 
    padding: 0;
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff; 
}

/* 
   Figures and images
   ========================================================================== */

figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();

  img {
    margin-bottom: 10px;
  }

  a { 

    img {
      transform: translate(0, 0);
      transition-duration: 0.25s;

      &:hover {
        transform: translate(0, -5px);
        box-shadow: 0 0 10px rgba($base-color, 0.2);
      }
    }
  }

  /* 2 columns */
  &.half {
    @media #{$large} {

      img {
        width: 310px;
        float: left;
        margin-right: 10px;
      }

      figcaption {
        clear: left;
      }
    }
  }

  /* 3 columns */
  &.third {
    @media #{$large} {

      img {
        width: 200px;
        float: left;
        margin-right: 10px;
      }

      figcaption {
        clear: left;
      }
    }
  }
}

svg:not(:root) {
  overflow: hidden; 
}

/* 
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-rem(14);
  background-color: $primary;
  color: #fff;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $primary;
  border-radius: 3px;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $primary;
  }
}

.btn-inverse {
  background-color: #fff;
  color: $primary;
  border-color: #fff;

  &:visited {
    color: $primary;
  }

  &:hover {
    background-color: $primary;
    color: #fff;
  }
}

.btn-success {
  background-color: $success;
  color: #fff;
  border-color: $success;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $success;
  }
}

.btn-warning {
  background-color: $warning;
  color: #fff;
  border-color: $warning;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $warning;
  }
}

.btn-danger {
  background-color: $danger;
  color: #fff;
  border-color: $danger;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $danger;
  }
}

.btn-info {
  background-color: $info;
  color: #fff;
  border-color: $info;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $info;
  }
}

/* 
   Wells
   ========================================================================== */

.well {
  padding: 20px;
  border: 1px solid $comp-color;
  border-radius: 4px;
}

/* 
   Alert Images
   ========================================================================== */
.img_thumb {
    float: left;
    height: 120px;
    margin-bottom: 5px;
    margin-left: 9px;
    position: relative;
    width: 97px;
    border-radius: 3px;
    line-height:120px;
    text-align:center;
}

.img_thumb img {
    vertical-align: middle;
}

/* 
   Posts Home
   ========================================================================== */

.high_column_img {
  max-width: 100%;
  height: auto;
}

.column {
  box-sizing: border-box;
  float: left;
}

.columns.spacing{
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
    line-height: 1;
}

.column.half-img {
	width: 50%;
	min-height: 200px;
	max-height: 200px;
}
.column.half {
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 200px;
	max-height: 200px;
}

.columns.spacing h1,
.columns.spacing h2,
.column.half h1,
.column.half h2 {
  padding: 0;
  margin: 0;
}

.column.half h1 {
  font-size: 20px;
}
.column.half .entry-title{
}
